.icon-addon_domains,.icon-address_importer,.icon-aliases,.icon-analog_stats,.icon-anonymous_ftp,.icon-apache_handlers,.icon-apache_spam_assassin,.icon-api_shell,.icon-api_tokens,.icon-application_manager,.icon-archive,.icon-authentication,.icon-autoresponders,.icon-awstats,.icon-backup,.icon-backup_wizard,.icon-bandwidth,.icon-boxtrapper,.icon-calendar_and_contacts,.icon-change_language,.icon-change_password,.icon-change_style,.icon-clam_av,.icon-contact_information,.icon-cpu_and_concurrent_connection_usage,.icon-cron_jobs,.icon-default_address,.icon-directory_privacy,.icon-disk_usage,.icon-domains,.icon-dynamic_dns,.icon-email_accounts,.icon-email_deliverability,.icon-email_disk_usage,.icon-email_filters,.icon-email_routing,.icon-encryption,.icon-error_pages,.icon-errors,.icon-file_manager,.icon-file_restoration,.icon-forwarders,.icon-ftp_accounts,.icon-ftp_connections,.icon-global_email_filters,.icon-greylisting,.icon-hotlink_protection,.icon-images,.icon-indexes,.icon-ip_blocker,.icon-jb5,.icon-leech_protection,.icon-logaholic,.icon-lvenodejssel,.icon-lvephpsel,.icon-lvepythonsel,.icon-lveresusage,.icon-mailing_lists,.icon-manage_calendar_access,.icon-metrics_editor,.icon-mime_types,.icon-mod_security,.icon-multiphp_ini_editor,.icon-multiphp_manager,.icon-mx_entry,.icon-mysql_database_wizard,.icon-mysql_databases,.icon-mysql_manager,.icon-optimize_website,.icon-perl_modules,.icon-php,.icon-php_my_admin,.icon-php_pear_packages,.icon-php_pg_admin,.icon-postgresql_database_wizard,.icon-postgresql_databases,.icon-raw_access,.icon-redirects,.icon-remote_mysql,.icon-ruby_gems,.icon-ruby_on_rails,.icon-search_index,.icon-security_policy,.icon-site_publisher,.icon-site_software,.icon-soft_div_icons,.icon-ssh_access,.icon-ssl_management,.icon-ssl_storage,.icon-ssl_tls,.icon-subdomains,.icon-terminal,.icon-tls_status,.icon-tls_wizard,.icon-track_delivery,.icon-track_dns,.icon-two_factor_authentication,.icon-user_manager,.icon-version_control,.icon-visitors,.icon-web_disk,.icon-web_host_manager,.icon-webalizer,.icon-webalizer_ftp,.icon-wp-toolkit,.icon-wp_softaculous,.icon-zone_editor { background-image: url('./icon_spritemap.png?3ed49c6a66136c80ed5fc9887e07317b69b5bbe6bb178b7812e9377bbae51581_4.0'); background-repeat: no-repeat; }
.icon-addon_domains { background-position: -103px -179px; width: 33px; height: 32px; }
.icon-address_importer { background-position: -146px -179px; width: 32px; height: 32px; }
.icon-aliases { background-position: -188px -179px; width: 32px; height: 32px; }
.icon-analog_stats { background-position: -237px -5px; width: 32px; height: 32px; }
.icon-anonymous_ftp { background-position: -237px -47px; width: 32px; height: 32px; }
.icon-apache_handlers { background-position: -335px -433px; width: 45px; height: 30px; }
.icon-apache_spam_assassin { background-position: -5px -223px; width: 46px; height: 32px; }
.icon-api_shell { background-position: -237px -89px; width: 32px; height: 32px; }
.icon-api_tokens { background-position: -179px -119px; width: 36px; height: 36px; }
.icon-application_manager { background-position: -237px -131px; width: 32px; height: 32px; }
.icon-archive { background-position: -237px -173px; width: 32px; height: 32px; }
.icon-authentication { background-position: -61px -223px; width: 32px; height: 32px; }
.icon-autoresponders { background-position: -103px -223px; width: 32px; height: 32px; }
.icon-awstats { background-position: -145px -223px; width: 32px; height: 32px; }
.icon-backup { background-position: -187px -223px; width: 32px; height: 32px; }
.icon-backup_wizard { background-position: -279px -5px; width: 45px; height: 32px; }
.icon-bandwidth { background-position: -279px -47px; width: 32px; height: 32px; }
.icon-boxtrapper { background-position: -279px -89px; width: 35px; height: 32px; }
.icon-calendar_and_contacts { background-position: -279px -131px; width: 32px; height: 32px; }
.icon-change_language { background-position: -279px -173px; width: 32px; height: 32px; }
.icon-change_password { background-position: -279px -215px; width: 32px; height: 32px; }
.icon-change_style { background-position: -229px -223px; width: 32px; height: 32px; }
.icon-clam_av { background-position: -5px -265px; width: 32px; height: 32px; }
.icon-contact_information { background-position: -47px -265px; width: 32px; height: 32px; }
.icon-cpu_and_concurrent_connection_usage { background-position: -89px -265px; width: 32px; height: 32px; }
.icon-cron_jobs { background-position: -131px -265px; width: 32px; height: 32px; }
.icon-default_address { background-position: -173px -265px; width: 32px; height: 32px; }
.icon-directory_privacy { background-position: -215px -265px; width: 32px; height: 32px; }
.icon-disk_usage { background-position: -257px -265px; width: 32px; height: 32px; }
.icon-domains { background-position: -334px -5px; width: 32px; height: 32px; }
.icon-dynamic_dns { background-position: -5px -5px; width: 48px; height: 48px; }
.icon-email_accounts { background-position: -334px -47px; width: 32px; height: 32px; }
.icon-email_deliverability { background-position: -334px -89px; width: 32px; height: 32px; }
.icon-email_disk_usage { background-position: -334px -131px; width: 32px; height: 32px; }
.icon-email_filters { background-position: -334px -173px; width: 32px; height: 32px; }
.icon-email_routing { background-position: -334px -215px; width: 32px; height: 32px; }
.icon-encryption { background-position: -334px -257px; width: 32px; height: 32px; }
.icon-error_pages { background-position: -5px -307px; width: 32px; height: 32px; }
.icon-errors { background-position: -47px -307px; width: 32px; height: 32px; }
.icon-file_manager { background-position: -89px -307px; width: 32px; height: 32px; }
.icon-file_restoration { background-position: -131px -307px; width: 32px; height: 32px; }
.icon-forwarders { background-position: -173px -307px; width: 32px; height: 32px; }
.icon-ftp_accounts { background-position: -215px -307px; width: 32px; height: 32px; }
.icon-ftp_connections { background-position: -257px -307px; width: 32px; height: 32px; }
.icon-global_email_filters { background-position: -299px -307px; width: 32px; height: 32px; }
.icon-greylisting { background-position: -376px -5px; width: 32px; height: 32px; }
.icon-hotlink_protection { background-position: -376px -47px; width: 32px; height: 32px; }
.icon-images { background-position: -376px -89px; width: 32px; height: 32px; }
.icon-indexes { background-position: -376px -131px; width: 32px; height: 32px; }
.icon-ip_blocker { background-position: -376px -173px; width: 32px; height: 32px; }
.icon-jb5 { background-position: -63px -5px; width: 48px; height: 48px; }
.icon-leech_protection { background-position: -376px -215px; width: 32px; height: 32px; }
.icon-logaholic { background-position: -376px -257px; width: 32px; height: 32px; }
.icon-lvenodejssel { background-position: -5px -63px; width: 48px; height: 48px; }
.icon-lvephpsel { background-position: -63px -63px; width: 48px; height: 48px; }
.icon-lvepythonsel { background-position: -121px -5px; width: 48px; height: 48px; }
.icon-lveresusage { background-position: -121px -63px; width: 48px; height: 48px; }
.icon-mailing_lists { background-position: -376px -299px; width: 32px; height: 32px; }
.icon-manage_calendar_access { background-position: -179px -63px; width: 48px; height: 46px; }
.icon-metrics_editor { background-position: -5px -349px; width: 32px; height: 32px; }
.icon-mime_types { background-position: -47px -349px; width: 32px; height: 32px; }
.icon-mod_security { background-position: -89px -349px; width: 32px; height: 32px; }
.icon-multiphp_ini_editor { background-position: -131px -349px; width: 32px; height: 32px; }
.icon-multiphp_manager { background-position: -173px -349px; width: 32px; height: 32px; }
.icon-mx_entry { background-position: -215px -349px; width: 32px; height: 32px; }
.icon-mysql_database_wizard { background-position: -60px -433px; width: 45px; height: 31px; }
.icon-mysql_databases { background-position: -115px -433px; width: 45px; height: 31px; }
.icon-mysql_manager { background-position: -170px -433px; width: 45px; height: 31px; }
.icon-optimize_website { background-position: -257px -349px; width: 32px; height: 32px; }
.icon-perl_modules { background-position: -299px -349px; width: 32px; height: 32px; }
.icon-php { background-position: -341px -349px; width: 32px; height: 32px; }
.icon-php_my_admin { background-position: -5px -179px; width: 45px; height: 34px; }
.icon-php_pear_packages { background-position: -418px -5px; width: 32px; height: 32px; }
.icon-php_pg_admin { background-position: -5px -391px; width: 50px; height: 32px; }
.icon-postgresql_database_wizard { background-position: -225px -433px; width: 45px; height: 31px; }
.icon-postgresql_databases { background-position: -418px -47px; width: 32px; height: 32px; }
.icon-raw_access { background-position: -418px -89px; width: 32px; height: 32px; }
.icon-redirects { background-position: -65px -391px; width: 33px; height: 32px; }
.icon-remote_mysql { background-position: -280px -433px; width: 45px; height: 31px; }
.icon-ruby_gems { background-position: -418px -131px; width: 32px; height: 32px; }
.icon-ruby_on_rails { background-position: -418px -173px; width: 32px; height: 32px; }
.icon-search_index { background-position: -5px -121px; width: 48px; height: 48px; }
.icon-security_policy { background-position: -418px -215px; width: 32px; height: 32px; }
.icon-site_publisher { background-position: -418px -257px; width: 32px; height: 32px; }
.icon-site_software { background-position: -418px -299px; width: 32px; height: 32px; }
.icon-soft_div_icons { background-position: -63px -121px; width: 48px; height: 48px; }
.icon-ssh_access { background-position: -108px -391px; width: 37px; height: 32px; }
.icon-ssl_management { background-position: -418px -341px; width: 32px; height: 32px; }
.icon-ssl_storage { background-position: -155px -391px; width: 32px; height: 32px; }
.icon-ssl_tls { background-position: -197px -391px; width: 32px; height: 32px; }
.icon-subdomains { background-position: -239px -391px; width: 43px; height: 32px; }
.icon-terminal { background-position: -460px -299px; width: 32px; height: 25px; }
.icon-tls_status { background-position: -292px -391px; width: 32px; height: 32px; }
.icon-tls_wizard { background-position: -334px -391px; width: 32px; height: 32px; }
.icon-track_delivery { background-position: -376px -391px; width: 32px; height: 32px; }
.icon-track_dns { background-position: -418px -391px; width: 32px; height: 32px; }
.icon-two_factor_authentication { background-position: -460px -5px; width: 32px; height: 32px; }
.icon-user_manager { background-position: -460px -47px; width: 32px; height: 32px; }
.icon-version_control { background-position: -60px -179px; width: 33px; height: 33px; }
.icon-visitors { background-position: -460px -89px; width: 32px; height: 32px; }
.icon-web_disk { background-position: -460px -131px; width: 32px; height: 32px; }
.icon-web_host_manager { background-position: -5px -433px; width: 45px; height: 32px; }
.icon-webalizer { background-position: -460px -173px; width: 32px; height: 32px; }
.icon-webalizer_ftp { background-position: -460px -215px; width: 32px; height: 32px; }
.icon-wp-toolkit { background-position: -121px -121px; width: 48px; height: 48px; }
.icon-wp_softaculous { background-position: -179px -5px; width: 48px; height: 48px; }
.icon-zone_editor { background-position: -460px -257px; width: 32px; height: 32px; }.icon-canary,.icon-cpanel-site-monitor,.icon-file_and_directory_restoration { background-image: url(icon_spritemap.svg?3ed49c6a66136c80ed5fc9887e07317b69b5bbe6bb178b7812e9377bbae51581_4.0); background-repeat: no-repeat; }
.icon-canary { background-size: 154px 48px; background-position: -0px 0; width: 48px; height: 48px; }
.icon-cpanel-site-monitor { background-size: 154px 48px; background-position: -53px 0; width: 48px; height: 48px; }
.icon-file_and_directory_restoration { background-size: 154px 48px; background-position: -106px 0; width: 48px; height: 48px; }
